.wrapper {
    width: 100%;
    height: var(--default-layout-header-height, 140px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    background-color: #00ccff;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
}

.top-header {
    height: 30px;
}

.top-header__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-header__item {
    padding: 6px;
    display: block;
    color: var(--white);
    font-size: large;
}

.bottom-header__wrapper {
    height: 110px;
    background-color: aquamarine;
}

.bottom-header__container {
    background-color: #000;
    height: 100%;
}

//
.bottom-header__itemtittle {
    display: flex;
}

.bottom-header__itemtittle span {
    align-items: center;
    justify-content: center;
}
